.home{
    display: flex;
    height: 100%;
    .content{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .content-text{
            width: 65%;
            padding: 0px 5rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            h1{
                font-size: 2.5rem;
                font-weight: 600;
            }
            p{
                font-size: 1rem;
                opacity: .7;
            }
            .buttons{
                display: flex;
                justify-content: space-between;
                width: 50%;
                button{
                    border-radius:10px;
                    padding: .5rem;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: 600;
                    background-color: #809df3;
                    border: 3px solid #809df3;
                    color: white;
                    &:hover{
                        background-color: white;
                        border: 3px solid #809df3;
                        color: #809df3;
                    }
                }
            }
        }
    }
    .colorbakground{
        width: 30%;
        background-color: #BBCCFF;
        position: relative;
        .absolute-image{
            height: 90%;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -7rem;
            ::-webkit-scrollbar {
                width: .5rem;
              }
              
              /* Track */
              ::-webkit-scrollbar-track {
                background: white;
                border-radius: 30px;
              }
              
              /* Handle */
              ::-webkit-scrollbar-thumb {
                background: #BBCCFF;
                border-radius: 30px;
                border: 1px solid white;
              }
              
              /* Handle on hover */
              ::-webkit-scrollbar-thumb:hover {
                background: #555;
              }
            .images{
                height: 65%;
                width: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                padding: .3rem;
                border-left: 2px solid black;
                img{
                    width: 100%;
                    height: 100%;
                    padding-bottom: 0.5rem;
                    padding-right: 0.3rem;
                    border-right: 2px solid black;
                }
            }
            @media only screen and (max-width: 900px) {
            .images{
                height: 75%;
            }
        }
        }
    }
}